html,
body {
  height: 100%;
}

.wrraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
