<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boss</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>


<body>

  <div class="wrraper">
    <header class="header">
      <div class="container">

        <div class="header__inner">
          <div class="header__logo">
            <a href="#" class="logo"><img class="logo__img" src="images/logo.svg" alt="logo"></a>
          </div>

          <ul class="header__lang">
            <li class="header__lang-item">
              <a href="#" class="header__lang-link header__lang--active">EN</a>/
            </li>
            <li class="header__lang-item">
              <a href="#" class="header__lang-link">UA</a>
            </li>
          </ul>

          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__item-link">CATALOG</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">COLLECTIONS</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">ABOUT</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">BOOK AN APPOINTMENT</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">CONTACT</a>
              </li>
            </ul>
          </nav>

          <ul class="header__actions">
            <li class="header__actions-item">
              <a href="#" class="header__actions-link">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link">
                <svg width="24" height="21">
                  <use xlink:href="images/sprite.svg#wishlist"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#shopping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>


    </header>