  <header class="header">
      
      <div class="container">
        <div class="header__inner ">
           <button class="header__btn">
        <svg width="30" height="19">
          <use xlink:href="images/sprite.svg#mobile-btn"></use>
        </svg>
      </button>

          <div class="header__logo">
            <a href="#" class="logo"><img class="logo__img" src="images/logo.svg"  width="80" height="22" alt="logo"/></a>
          </div>
          
          <nav class="menu">
                      <ul class="header__lang">
                        <li class="header__lang-item">
                          <a href="#" class="header__lang-link header__lang-link--active">EN</a>/
                        </li>
                        <li class="header__lang-item">
                          <a href="#" class="header__lang-link">UA</a>
                        </li>
                      </ul>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__item-link">CATALOG</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">COLLECTIONS</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">ABOUT</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">BOOK AN APPOINTMENT</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link">CONTACT</a>
              </li>
            </ul>
          </nav>

          <ul class="header__actions">
            <li class="header__actions-item">
              <a href="#" class="header__actions-link" aria-label="open user menu">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link" aria-label="go to wishlist">
                <svg width="24" height="21">
                  <use xlink:href="images/sprite.svg#wishlist"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link" aria-label="go to shopping bag">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#shopping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </header>
