<section class="join-us">
    <picture>
                <source srcset="images/join-us.avif" type="image/avif">
                <source srcset="images/join-us.webp" type="image/webp">
                <img class="join-us__image" src="images/join-us.jpg" width="780" height="613"
                    alt="Boss new collection — join and save 10%">
            </picture>
            <div class="join-us__box">
                <h2 class="join-us__title">JOIN US</h2>
                <p class="join-us__text">
                    Sign up and get 10% discount on your first purchase!
                </p>
                <form action="#" class="join-us__form">
                    <label class="visually-hidden" for="userName">
                        Enter your first name
                    </label>
                    <input class="join-us__input" type="text" name="name"
                        id="userName" placeholder="First Name">
                    
                    <label class="visually-hidden" for="userEmail">
                        Enter your email
                    </label>
                    <input class="join-us__input" type="email" name="email"
                        id="userEmail" placeholder="Email">
                    
                    <button class="join-us__btn" type="submit">GET 10%</button>
                    
                    <p class="join-us__form-caption">
                        *By completing this form you are signing up to receive our emails and can unsubscribe at any time.
                    </p>
                </form>
            </div>

</section>